html, body{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0; padding: 0;
}
*{
	box-sizing: border-box;
}
main{
	max-width: 800px;
	width: 100%;
	padding: 0 20px;
	margin: auto;

	text-align: center;
	-moz-text-align-last: center;
	text-align-last: center;
}
input[type="text"]{
	padding: 10px;
	font-size: 40px;
	width: 100%;
	outline: none;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #aaa;
	transition: all ease-in-out .15s,box-shadow ease-in-out .15s;
	--color: #fff;
}
input[type="text"].is-valid{
	--color: #28a745;
	border-color: var(--color);
}
input[type="text"].is-invalid{
	--color: #dc3545;
	border-color: var(--color);
}
input[type="text"]:focus{
	box-shadow: 0px 0px 3px var(--color);
}
h1,h2{
	margin: 10px;
	margin-top: 50px;
	text-align: center;
	font-weight: normal;
}
h1{
	font-size: 3.5rem;
}
h2{
	font-size: 2rem;
}
.wrap{
	word-wrap: break-word;
}
.note{
	font-size: small;
	color: #999;
}
.warning{
	display: block;
	background: #fff3cd;
	border: 1px solid #ffeeba;
	color: #856404;
	padding: 10px 20px;
	border-radius: 3px;
	text-align: center;
}
a{
	color: #007bff;
	text-decoration: none;
}
a:hover{
	color: #004EA3;
	text-decoration: underline;
}
